body {
  
    background-color: #0e6dc7;
    margin: 0 15%;
    font-family: sans-serif;
  }
header {
    background-color:rgba(150, 201, 248, 0.7);
}
nav a:hover {
    background-color: rgb(102, 245, 197);
    color: #000000;
  }

  
img {
    width: 40%;

  }  
.icon {
    width: 120px;
}
.logo {
  width: 120px;
}
 
footer img {
  width: 5%;

}
footer p {
  font-size: 1.2em;
}  
footer p a:hover {
  text-decoration: none;

}   
  nav a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #571616;
    text-decoration: none;
  }
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 180%;
    color: #000000;
  }
  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #ffffff;
  }
  h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #ffffff;
  }
  h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #ffffff;
  }

 #content{
  max-width:1600px;
  margin: 0 auto;
}
 #background {
  height: 725px;
}